* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Muller';
    src: url(../fonts/MullerRegular.ttf);
}
.center {
    padding: 0 calc(50% - 570px);

}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.widthblock {
    width: 83px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.magickdiv {
    width: 100%;
    background: #404040;
    display: flex;
}
.m-body {
    display: flex;
}
.m-log {
    width: 80px;
    height: 100vh;
    border-right: 1px solid #737373;
}
.updiv {
    width: 100%;
    display: flex;
    justify-content: right ;
}
.poloski {
    width: 44px;
    height: 30px;
    margin-top: 38px;
    text-align: right;
    margin-right: 40px;
    background: url(../img/poloski.png) center no-repeat;
}
.content-modal {
    display: flex;
    margin-top: 130px;
}
.m-left {
    display: flex;
    flex-direction: column;
    margin-left: 107px;
    width: 300px;

}
.modal-link {
    text-decoration: none;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.modal-link:hover {
    margin-left: 20px;
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #E3F7FD;
}
.m-right {
    margin-left: 350px;
}
.m-h {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.mcontact {
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #E3F7FD;
    text-decoration: none;
}
.mail-m {
    text-decoration: none;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;

}
.cont-m {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #919191;
    margin-top: 10px;
}
.callback {
    display: flex;
    flex-direction: column;
    margin-top: 73px;
}
.send {
    text-align: center;
    padding-top: 28px;
    margin-top: 17px;
    width: 420px;
    height: 93px;
    background: url(../img/button.png) center no-repeat;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #000000;
}
.send:hover {
    cursor: pointer
}
.inpt {
    width: 420px;
    height: 78px;
    background-color: #58686D;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
}

.inpt::placeholder {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.clb-p {
    width: 419px;
    height: 60px;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.rightbigblock {
    width: 1359px;

    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.logo__img {
    background: url(../img/logo1.png) center no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    position: fixed;
    top: 49px;
}
.logo-zindex {
    z-index: 9999;
    left: 8px;
}

header {
    display: flex;

    height: 820px;;

    background: url(../img/kofebar/header.png) center no-repeat;
}
.head-text {
    padding-left: 108px;
}
.navigation {
    margin-top: 63px;

}
.navbar_link {
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    color: #F5F6F8;

}

.head-h {
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.headh3 {
    margin-top: 232px;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}
.headh2 {
    margin-top: 9px;
    font-family: Muller;
    font-style: italic;
    font-weight: bold;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
}
.header-buttons {
    margin-top: 125px;
    width: 420px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btnhead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 35px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}
.btnlink {
    text-decoration: none;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 50px;
    color: #F5F6F8;
}

.about {
    padding: 100px 100px 0px 108px ;
    display: flex;
    flex-wrap: wrap;
}
.about_h {
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #81AEE5;
}
.about_tex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 1150px;
    opacity: 0;
}
.element-show {
    opacity: 1;
    transition: opacity 1s;
}
.about_p {
    width: 500px;
    height: 175px;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #404040;
}
    .logos {
        margin-top: 50px;
    }
    .losimos {

        width: 1152px;
        height: 472px;
    }
    .logo1 {
        background: url(../img/kofebar/logo.png) center no-repeat;
        background-size: cover;
    }
    .palitra {
        background: url(../img/kofebar/palitra.png) center no-repeat;
        background-size: cover;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .imos {
        display: none;
    }
    .stoiki {
        margin-top: 50px;
        width: 1150px;
        height: 700px;
        display: flex;
        justify-content: space-between;
    }
        .stok {
            width: 365px;
            height: 700px;
        }
            .sl {
                background: url(../img/kofebar/sl.png) center no-repeat;
                background-size: cover;
            }
            .sc {
                background: url(../img/kofebar/sc.png) center no-repeat;
                background-size: cover;
            }
            .sr {
                background: url(../img/kofebar/sr.png) center no-repeat;
                background-size: cover;
            }

.heroes {
    display: flex;
    align-items: center;
    width: 1150px;
    height: 440px;
    justify-content: space-between;
}
.heroesleft {
    width: 560px;
    height: 420px;
}
.cup {
    background: url(../img/kofebar/cup.png) center no-repeat;
}
.six {
    background: url(../img/kofebar/six.png) center no-repeat;
}
.scidka {
    background: url(../img/kofebar/scidka.png) center no-repeat;
}
.menu {
    background: url(../img/kofebar/menu.png) center no-repeat;
}

.medals {
    width: 1150px;
    height: 600px;
    background: url(../img/medals.png) center no-repeat;
    background-size: contain;
    margin-top: 50px;
}
.video {
    width: 1150px;
    height: 650px;
    margin-top: 50px;
    border: 1px solid gray;
}

.carta {
    width: 1150px;
    height: 470px;
    background: url(../img/second/carta.png) center no-repeat;
}
.components {
    width: 1150px;
    height: 555px;
    background: url(../img/second/components.png) center no-repeat;
    background-size: cover;
}
.tipografy {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1150px;
}
.tipografyd {
    display: flex;
    flex-direction: column;
    height: 363px;
    justify-content: space-between;
}
.tipografy-h3 {
    font-family: Muller;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: #404040;
}
.tipografy-leftdiv {
    width: 411.73px;
    height: 295.4px;
    background: url(../img/text.png) center no-repeat;
}
.tipografy-rightdiv{
    width: 540.07px;
    height: 253.83px;
    background: url(../img/colors.png) center no-repeat;
}
.ornaments {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.ornimg {
    margin-top: 20px;
    width: 1150px;
    height: 600px;
    background: linear-gradient(74.36deg, #404040 15.22%, #9F9F9F 82.21%);
}
.kniga {
    width: 1150px;
    height: 600px;
    background: url(../img/kniga.png) center no-repeat;
}
.patterns {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 1151.24px;
    height: 381.78px;
}
.pimg {
    width: 288px;
    height: 322px;
}
.orel {
    background: url(../img/carusel1.png) center no-repeat;
}
.horse {
    background: url(../img/horse.png) center no-repeat;
}
.tumba {
    background: url(../img/tumba.png) center no-repeat;
}
.nout {
    margin-top: 30px;
    width: 1149px;
    height: 795px;
    background: url(../img/history.png) center no-repeat;
}

.mobile {
    width: 1150px;
    height: 650px;
    background: url(../img/mobile.png) center no-repeat;
}

.humans {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1150px;
}
.humandiv {
    display: flex;
    flex-direction: column;
}
    .store {
        width: 164px;
        height: 47px;
    }
    .iphone {
        background: url(../img/second/appStore.png) center no-repeat;
    }
    .gogle {
        background: url(../img/second/play.png) center no-repeat;
    }
.humanh {
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #00A65A;
}
.humanp {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #404040;
    width: 212px;
    height: 105px;
}
.laptop {
    width: 1150px;
    height: 590px;
    background: url(../img/second/mobile.png) center no-repeat;
}

.presentacia {
    display: flex;
    width: 1150px;
    justify-content: space-between;
}
.present {
    width: 551px;
    height: 350px;
}
.presenth {
    margin-top: 105px;
    margin-bottom: 15px;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
    width: 370px;
    text-align: center

}
.presenta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 53px;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: #1199FF;
}
.l {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #00A3FF, #00A3FF);

}
.r {
    background: url(../img/sport.png) center no-repeat;
}
.fotki {
    display: flex;
    width: 1150px;
    flex-direction: column;
}
.fotki-line {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin-bottom: 20px;
}
.linebig {
    width: 658px;
    height: 404px;

}
.linelittle {
    width: 467px;
    height: 404px;

}
.sportsmens {
    background: url(../img/sportsmens.png) center no-repeat;
}
.tetka {
    background: url(../img/tetka.png) center no-repeat;
}
.sumo {
    background: url(../img/sumo.png) center no-repeat;
}
.hats {
    background: url(../img/hats.png) center no-repeat;
}
.interview {
    background: url(../img/interview.png) center no-repeat;
}
.yellow {
    background: url(../img/yellow.png) center no-repeat;
}
.sayt {
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #81AEE5;
    text-decoration: none;
}

.comanda {
    width: 1359px;
    height: 320px;
    margin-top: 100px;
    margin-left: -108px;
    margin-right: -100px;
    padding-left: 102px;

    background: #F3F3F3;
}
.comanda-line {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin-bottom: 50px;
}
.comandspersons {
    display: flex;
    flex-direction: column;
    width: 202px;
    height: 46px;
    justify-content: space-between;
}
.comandsh {
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #404040;
}
.comandsp{
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #404040;

}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    justify-content: space-between;
}
.ceyses {
    width: 552px;
    height: 337px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-text {
    display: none;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.ceyses:hover{
    background: linear-gradient(0deg, #00A3FF, #00A3FF);
}
.ceyses:hover p{
    display: block;
}
.sticks{
    background: url(../img/sticks.png) center no-repeat;
}

.barsik{
    background: url(../img/barsik.png) center no-repeat;
}
.city17{
    background: url(../img/city17.png) center no-repeat;
}
.boost{
    background: url(../img/boost.png) center no-repeat;
}

.btnceyses {
    display: flex;
    width: 1150px;
    justify-content: center;
    align-items: center;
}
.allceyses {
    width: 342.55px;
    height: 80px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 39px;
    background: #FFFFFF;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}
footer {
    width: 1359px;
    height: 619px;
    margin-top: 100px;
    margin-left: -108px;
    margin-right: -100px;
    padding-left: 107px;
    padding-right: 105px;
    background: #F3F3F3;
}

.fot-nav {
    display: flex;
    width: 1150px;
    justify-content: space-between;
    margin-top: 45px;
}
.nav-link {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #4E4E4E;
}
.nav-link:hover {
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #4CCBF3;
}
.fot-center{
    display: flex;
    margin-top: 80px;
    width: 1150px;
    justify-content: space-between;
}
.logo-footer {
    background: url(../img/logo2.png) center no-repeat;
    width: 140px;
    height: 140px;
}
.fot-social {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 284px;
}
.fh {
    margin-bottom: 27px;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #737373;
}
.soc {
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.soclink {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(90.96deg, #4CCBF3 8.23%, #90D7EE 46.61%);
}
.fp {
    margin-top: 19px;
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #737373;
}
.fcontact {
    text-decoration: none;
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #4CCBF3;

}
.cont-p {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #737373;
    margin-top: 10px;
}
.mail-p {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #737373;
    text-decoration: none;
    margin-bottom: 15px;
}
.messenger {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #737373;
}
.fot-bottom {
    display: flex;
    width: 1150px;
    justify-content: space-between;
    margin-top: 80px;
}
.bottom-content {
    display: flex;
    flex-direction: column;
}
.prava {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
}
.b-text {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
}
.creative {
    width: 1365px;
    height: 94px;
    margin-left: -108px;
    margin-right: -100px;
    background: linear-gradient(90.96deg, #D8F664 8.23%, #D0E778 48.5%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.creativ-text {
    font-family: Muller;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #4CCBF3;
}
.special {
    margin-top: 100px;
}
.onlymobile {
    width: 1150px;
    height: 70px;
}
.doble {
    display: none;
}

.pers {
    width: 237px; height: 46px;
}
.imos1.imos2.imos3.imos4.imos5 {
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 426px) {
    .doble {
        display: block;
        background: url(../img/kofebar/Vector.png) center no-repeat;
        top: 72px;
        right: 10px;
    }
    .rightbigblock {
        width: 425px;
    }
    .widthblock {
        display: none;
    }
    header {
        height: 934px;
        background: url(../img/kofebar/headermobile.png) center no-repeat;
    }
        .navigation {
            display: none;
        }
        .headh2 {
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
        }
        .headh3 {
            margin-top: 190px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
        .head-text {

        }
        .magik-d {
            width: 425px;
            padding: 40px 32px 0px 42px;
        }
        .updiv {
            justify-content: space-between;
        }
            .m-logo {
                width: 116px;
                height: 115px;
                background: url(../img/kofebar/m-logo.png) center no-repeat;
            }

            .poloski {
                width: 35px;
                height: 23px;
                margin-top: 9px;
                text-align: right;
                margin-right: 0px;
                background: url(../img/kofebar/m-poloski.png) center no-repeat;
            }
        .content-modal {
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 104px;
        }
            .m-left {
                margin-left: 0px;
                height: 310px;
                justify-content: space-between;
            }
                .modal-link {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;
                    margin-bottom: 0px;
                }
            .m-right {
                margin-left: 0px;
                margin-top: 97px;
            }
                .m-h {
                    display: none;
                }
                .mcontact {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 36px;
                    margin-left: 10px;
                }
                .cont-m {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-left: 10px;
                    margin-top: 0px;
                }
                .mail-m {
                    display: none;
                }
                .clb-p {
                    display: none;
                }
                .inpt {
                    display: none;
                }
                .c-block {
                    display: none;
                }
                .callback {
                    margin-top: 18px;
                }
                .send {
                    width: 364px;
                    height: 93px;
                    background: url(../img/kofebar/zayavka.png) center no-repeat;
                    padding-top: 28px;
                    margin-top: 0px;
                }

    .head-text{
        padding-left: 25px;
    }
    .about {
        padding: 70px 25px 0px 25px;
    }
        .about_tex {
            margin-top: 15px;
        }
            .about_h {
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 30px;
            }
            .special {
                margin-top: 55px;
            }
            .about_p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                width: 378px;
                height: 180px;
                margin-bottom: 15px;
            }
        .losimos {
            width: 425px;
            height: 442px;
            margin-left: -25px;
            margin-right: -25px;

        }
        .palitra {
            display: none;
        }
        .imos1 {
            width: 425px;
            height: 352px;
            margin-left: -25px;
            margin-right: -25px;
            background: url(../img/kofebar/imos1.png) center no-repeat;
        }

        .imos2 {
            width: 425px;
            height: 352px;
            margin-left: -25px;
            margin-right: -25px;
            background: url(../img/kofebar/imos2.png) center no-repeat;
        }

        .imos3 {
            width: 425px;
            height: 292px;
            margin-left: -25px;
            margin-right: -25px;
           background: url(../img/kofebar/imos3.png) center no-repeat;
        }

        .imos4 {
            width: 425px;
            height: 228px;
            margin-left: -25px;
            margin-right: -25px;
            background: url(../img/kofebar/imos4.png) center no-repeat;
        }

        .imos5 {
            width: 425px;
            height: 228px;
            margin-left: -25px;
            margin-right: -25px;
            background: url(../img/kofebar/imos5.png) center no-repeat;
        }


        .logo1 {
            background: url(../img/kofebar/logom.png) center no-repeat;
        }
        footer {
            width: 425px;
            display: flex;
            flex-wrap: wrap;
            height: 1051px;
            margin-left: -25px;
            margin-right: -25px;
            padding: 0px 35px 0px 25px;
        }
    .fot-nav {
        display: flex;
        flex-direction: column;
        width: 112px;
        justify-content: space-between;
        margin-top: 65px;
    }
    .nav-link {
        font-family: Muller;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: #4E4E4E;
    }
    .nav-link:hover {
        font-family: Muller;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #4CCBF3;
    }
    .fot-logo {
        display: none;
    }
    .fot-center{
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        width: 325px;
        justify-content: space-between;
    }
    .fh {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
    .cont-p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.03em;
    }
    .mail-p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }
    .messenger {
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
    }
    .soc {
        justify-content: space-between;
    }
    .fp {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
    }
    .fcontact {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
    }
    .fot-bottom {
        flex-direction: column;
        width: 370px;
        margin-top: 21px;
    }
    .mbottom {
        margin-top: 20px;
    }
    .creative {
        width: 425px;
        height: 100px;
        margin-left: -25px;
        margin-right: -25px;
    }
    .creativ-text {
        font-family: Muller;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;

        text-align: center;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: #4CCBF3;
    }
    .mobilelogo {
        margin-top: 62px;
        margin-left: 102px;
        width: 148px;
        height: 148px;
        background: url(../img/kofebar/laym.png) center no-repeat;
    }
    .stoiki {
        margin-top: 0px;
        width: 380px;
        height: 2165px;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }
    .stok {
        width: 378px;
        height: 715px;
    }
    .heroes {
        display: none;
    }
    .poly-m {
        display: none;
    }
    .comanda {
        width: 427px;
        height: 442px;
        margin-left: -25px;
        margin-right: -25px;
        padding-left: 25px;
    }
    .comanda-line {
        width: 301px;
        height: 235px;
        flex-wrap: wrap;
    }
    .comandsh {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }
    .comandsp {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .comandspersons {
        width: 136px;
        height: 105px;
        display: flex;
        justify-content: space-between;
    }
    .ceyses {
        width: 378px;
        height: 243px;
    }
    .barsik {
        background-size: cover;
    }
}